.container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid rgba(158, 166, 243, 0.726);
  border-radius: 50%;
  border-top: 16px solid rgb(0, 76, 137);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}